{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des auteurs</h1>

    <ul>
        {% for author in authors %}
            <li style="margin-bottom: 20px;">
                <h2>
                    <a href="{{ path('authors_show', {
                        id: author.id
                    }) }}">
                        {{ author.lastName }} {{ author.firstName }}
                    </a>
                </h2>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
