{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="ls">
            <p>My Series Companion</p>
            <p>2020</p>
        </div>
        <div class="rs">
            <p>Nous contacter</p>
            <p class="cg">Email: contact@myseriescompanion.fr</p>
            <p class="cg">Web: https://myseriescompanion.fr</p>
        </div>
    </footer>

{% endblock %}