{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>

    <ul>
        {% for article in articles %}
            {#
                On précise le with { } ... pour spécifier les variables à passer à la vue.
                Si on ne le fait pas : toutes les variables seront par défaut inclue dans la vue.
            #}
            {% include 'common/_article_item.html.twig' with { article : article } only %}
        {% endfor %}
    </ul>
{% endblock %}
